<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
{% extends 'base.html' %}
<h1>These are the current provided information about the company</h1>
{% block content %}
<body>
NO about information provided at this time
</body>
<p>
    {{ my_text }}, {{ my_number }}
</p>
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
    {% for my_sub_item in view.my_list %}
    <li>{{ forloop.counter }} - {{ my_sub_items }}</li>
    {% endfor %}
</ul>



{% endblock content %}

</html>