*{
    margin:0px;
    padding:0px;
    box-sizing: boarder-box;
}
.image{
    widths:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border:10px solid #fff;
}
.nav{
    font-size: 15px;
    font-family: 'open sans-serif';
    font-weight: bold;
    scroll margin-top: 40px;
}
.mynav li{
    margin: 10px;
    color: #0d6efd !important;
    border-bottom: 3px solid transparent;
    transition: 0.5s;


}
.myicon{
    transition: 1sec;

}

.mynav li:hover{
    border-bottom: 3px solid #0d6efd;
}
.active a{
    border-bottom: 3px solid #0d6efd;
}
.mybody h,p{
    justify-content: center;
    font-family: 'inherit;';
}