body:: before{
    display: block;
    content: '';
    height: 60px;
}
@media (min-width:768px){
    .news-input{
        width: 50%;
    }
}
.nav{
    font-size: 15px;
    font-family: 'open sans-serif';
    font-weight: bold;
    scroll margin-top: 40px;
}
.mynav li{
    margin: 10px;
    color: #0d6efd !important;
    border-bottom: 3px solid transparent;
    transition: 0.5s;


}
.myicon{
    transition: 1sec;

}

.mynav li:hover{
    border-bottom: 3px solid #0d6efd;
}
.active a{
    border-bottom: 3px solid #0d6efd;
}

.about img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.about row{
    background: white;
    border-radius: 30px;
}

body{
    margin: o;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.learn img{
    width: 200px;
    height: 400px;
}
