*{padding: 0; margin: 0; box-sizing: border-box;}
.About{
    margin-top: 100px;

}
.float{
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
right: 40px;
background: ;
border-radius: 40px;
text-align: center;
box-shadow: 2px 2px 3px;
font-size: 50px;
}

.my-float{
    margin-top: 20px;
}
body:: before{
    display: block;
    content: '';
    height: 60px;
    margin: 0;
    font-family: sans-serif;
}
@media (min-width:768px){
    .news-input{
        width: 50%;
    }
}
.nav{
    font-size: 20px;
    font-family: 'Tw Cen MT';
    top: 0; left: 0; right: 0;

}
.mynav li{
    padding: 0;
    text-transform: capitalize;
    margin: 10px;
    color: #0d6efd !important;
    border-bottom: 3px solid transparent;
    transition: 0.5s;


}
.myicon{
    transition: 1sec;

}
mynav li.active,
.mynav li:hover{
    border-bottom: 3px solid #0d6efd;
}


.about img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.about row{
    background: white;
    border-radius: 30px;
}

body{
    margin: o;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.learn img{
    width: 400px;
    height: 400px;
}
.hero {
    /* Sizing */
    width: 100%;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("hero2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    webkit-backgroung: cover;
    position: relative;
}
.hero h1 {
    /* Text styles */
    font-size: 50px;
    /* Margins */
       margin-top: 0;
       margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: rgba(147, 112, 219, 0.8);
}
html{
    scroll-behavior: smooth;
}