<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<form action="{% url 'Polls: vote' question.id %}" method="post">
    {% csf_token %}
    <fieldset>
        <legend><h1> {{ question.question_text }}</h1></legend></lengend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>


<body>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}

</ul>

</body>
</html>